<div class="container">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <mat-card class="center-card">
      <mat-card-header>
        <mat-card-title>Módulo de administración</mat-card-title>
      </mat-card-header>
      <br>
      <mat-card-content>
        <fieldset class="fieldseter border">
          <legend>
            &nbsp; <b>Crear noticia</b> &nbsp;&nbsp;
          </legend>
  
          <div class="p-5 info">
            <mat-icon class="info-icon">info</mat-icon> &nbsp;
            <span>info</span>
          </div>
  
          <div>
            
            <form [formGroup]="nuevaTirilla" >
              <div class="full-width flex-container">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Título</mat-label>
                  <input matInput formControlName="titulo">
                </mat-form-field>
              </div>
              <div class="full-width flex-container">
                <mat-form-field appearance="fill" class="half-width">
                  <mat-label>Selecciona una prioridad</mat-label>
                  <mat-select formControlName="prioridad" required>
                    <mat-option *ngFor="let prioridad of prioridades" [value]="prioridad">{{ prioridad }}</mat-option>
                  </mat-select>
                </mat-form-field>
  
                <mat-form-field appearance="fill" class="half-width">
                  <mat-label>Enlace relacionado</mat-label>
                  <input matInput formControlName="enlace">
                </mat-form-field>
              </div>
  
              <div class="full-width flex-container">
                <mat-form-field class="example-chip-list" appearance="fill" class="full-width">
                  <mat-label>Etiqueta</mat-label>
                  <mat-chip-grid #chipGrid aria-label="etiqueta selection">
                    <mat-chip-row *ngFor="let etiqueta of etiquetas" (removed)="remove(etiqueta)">
                      {{etiqueta}}
                      <button matChipRemove [attr.aria-label]="'remove ' + etiqueta">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                  </mat-chip-grid>
                  <input placeholder="Nueva etiqueta..." #fruitInput [formControl]="etiquetaCtrl"
                    [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)" />
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let etiqueta of filtroEtiquetas | async" [value]="etiqueta">
                      {{etiqueta}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
  
              <div class="full-width flex-container">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Descripción</mat-label>
                  <textarea matInput formControlName="descripcion"></textarea>
                </mat-form-field>
              </div>

              <div class="full-width">
                <h6>Selecciona un estilo</h6>
                <mat-radio-group aria-label="Select an option" formControlName="estilo">
                  <mat-radio-button *ngFor="let estilo of estilos" [value]="estilo">{{ estilo }}</mat-radio-button>
                </mat-radio-group>
              </div>


              <div>
                <input type="file" (change)="onFileSelected($event)">
              </div>

              <button mat-button (click)="guardar()">Guardar</button>
            </form>
          </div>
        </fieldset>
      </mat-card-content>
    </mat-card>
  </div>
  